body {
  margin: 0;
  padding: 0;
  background-color: #ffc1cb;
  font-family: 'Times New Roman', Times, serif;
}


.encabezado1 {
  text-align: center;
  color: rgba(26, 13, 1, 0.993);
  font-size: 500%;
}

.encabezado2 {
  text-align: center;
  color: rgba(26, 13, 1, 0.993);
  font-size: 200%;
  font-family: "Lucida Handwriting", "Lucida Handwriting", monospace;
  font-weight: 200; /* ExtraLight */
}

.navbar {
  background-color: #1f0f01 !important;
}

.navbar-nav .nav-link,
.navbar-brand,
.dropdown-menu .dropdown-item {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #FFFFFF !important;
  text-align: center;
}

.navbar-brand {
  position: static;
  transform: none;
  color: #FFFFFF !important;
  margin-right: 0;
  padding: 0.5rem 1rem;
}

.navbar .container-fluid {
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu {
  text-align: center;
  background-color: #473423;
}

.navbar-toggler {
  border-color: rgba(255,255,255,0.5) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
    width: 100%;
  }
}
.card-img-bottom{
    width: 100%;         /* Ocupa todo el ancho del contenedor */
    height: 200px;       /* Altura fija para uniformidad */
    object-fit: cover;   /* Corta la imagen sin deformarla */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
}
.card {
    border: 2px solid #ac1a1a; /* Color café y grosor del borde */
    border-radius: 10px;       /* Opcional: esquinas redondeadas */
    box-shadow: 2px 2px 5px rgba(182, 23, 23, 0.932); /* Sombra suave opcional */
}
.btn{
  background-color: #f89eadda;
  border: 2px solid #ac1a1a; /* Color café y grosor del borde */
    border-radius: 10px;       /* Opcional: esquinas redondeadas */
    box-shadow: 2px 2px 5px rgba(182, 23, 23, 0.932);
    color: #1f0f01;
}